body {
    font-size: 14pt;
}

.container {
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 0px 0px 25px gray;
}

#header {
    text-align: center;
    color: brown;
    padding: 50px;
}

.container h3 {
    color: navy;
}
#fill{
    color: navy;
}
.card {
    margin: 60px;
}
table,
th {
    border: 2px solid black;
    background-color: aliceblue;
}

td,
th {
    padding-left: 10px;
    border-left: 2px solid black;
    width: 25%;
}

form {
    width: 50%;
    font-size: 13pt;
    padding-bottom: 10px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    height: 50px;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 500;
}

#btn {
    background-color: brown;
    border: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}

#female {
    margin-left: 50px;
    ;
}

@media screen and (max-width: 1500px) {
    form {
        width: 70%;
    }
}

@media screen and (max-width: 950px) {
    form {
        width: 100%;
    }
}